@use 'variables' as *;

.ocean-canvas {
  width: 96vw;
  height: 90vh;
  overflow: hidden;
  border-radius: 40px;
  margin: 0 auto;
  position: relative;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  canvas {
    display: block;
  }

  &__slider {
    position: absolute;
    top: 2rem;
    z-index: 100;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &--fullscreen {
    width: 100vw !important;
    height: 100vh !important;
    border-radius: 0;
    z-index: 500;
    margin: 0;
  }
}
